<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>滑卡</title>
  </head>
  <body>
    <main class="wrapper position-relative">
      <div class="app-wrapper bg-dase gradient-chat-room">
        <div class="tab-content" id="pills-tabContent">
          <div
            class="tab-pane fade"
            id="pills-home"
            role="tabpanel"
            aria-labelledby="pills-home-tab"
            tabindex="0"
          ></div>
          <div
            class="tab-pane fade"
            id="pills-quick-match"
            role="tabpanel"
            aria-labelledby="pills-quick-match-tab"
            tabindex="0"
          >
            <%- include('./layout/quick-match-start'); -%>
          </div>
          <div
            class="tab-pane fade show active"
            id="pills-slide-card"
            role="tabpanel"
            aria-labelledby="pills-slide-card-tab"
            tabindex="0"
          >
            <%- include('./layout/slide-card-match-start'); -%>
          </div>
          <div
            class="tab-pane fade"
            id="pills-group-talk"
            role="tabpanel"
            aria-labelledby="pills-group-talk-tab"
            tabindex="0"
          >
            <%- include('./layout/slide-card-match-start'); -%>
          </div>
          <div
            class="tab-pane fade"
            id="pills-chat-list"
            role="tabpanel"
            aria-labelledby="pills-chat-list-tab"
            tabindex="0"
          >
            <%- include('./layout/chat-room-list'); -%>
          </div>
        </div>
        <nav class="nav-position nav-container">
          <ul class="nav nav-pills nav-bg" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="pills-home-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-home"
                type="button"
                role="tab"
                aria-controls="pills-home"
                aria-selected="true"
              >
                <img
                  src="../../assets/images/09-nav icon/User.svg"
                  alt=""
                  class="mb-1"
                />
                <p>個人</p>
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="pills-quick-match-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-quick-match"
                type="button"
                role="tab"
                aria-controls="pills-quick-match"
                aria-selected="false"
              >
                <img
                  src="../../assets/images/09-nav icon/fast match.svg"
                  alt=""
                />
                <p class="mt-1">探索</p>
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link active"
                id="pills-slide-card-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-slide-card"
                type="button"
                role="tab"
                aria-controls="pills-slide-card"
                aria-selected="false"
              >
                <img src="../../assets/images/09-nav icon/match.svg" alt="" />
                <p class="mt-1">滑卡</p>
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="pills-group-talk-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-group-talk"
                type="button"
                role="tab"
                aria-controls="pills-group-talk"
                aria-selected="false"
              >
                <img
                  src="../../assets/images/09-nav icon/community.svg"
                  alt=""
                />
                <p class="mt-1">群聊</p>
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="pills-chat-list-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-chat-list"
                type="button"
                role="tab"
                aria-controls="pills-chat-list"
                aria-selected="false"
              >
                <img src="../../assets/images/09-nav icon/chat.svg" alt="" />
                <p class="mt-1">聊天</p>
              </button>
            </li>
          </ul>
        </nav>
      </div>
    </main>
    <script type="module" src="../../main.js"></script>
  </body>
</html>
