.bg-base{
    height: 100vh;
}
.bg-index{
    background-image: url("../assets/images/02-Home/1x/Home-bg.png"); 
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    // background-color: #1e6e99; 
}

