.gradient-chat-room {
  background: linear-gradient(#763296, #291b53);
}
.chat-room {
  height: 731px;
  .bg-header {
    background: rgba(255, 255, 2255, 0.2);
  }
  .button {
    cursor: pointer;
    &:active {
      outline: none;
      border: 0;
    }
  }
  .avatar-img {
    width: 32px;
  }
}

.green-dot {
  width: 7px;
  height: 7px;
  background-color: #0eba36;
  border-radius: 50%;
  display: inline-block;
  margin-right: 3.5px;
}

.close-percent-tag {
  background: linear-gradient(90deg, #aa98ed, #6d3dc4);
  padding: 14px 16px;
}

.chat-dialog-box-left {
  font-family: "Noto Sans TC,sans-serif";
  font-weight: 400;
  font-size: 14px;
  line-height: 145%;
  padding: 8px 12px;
  background: #eeebfc;
  color: #000000;
  border-radius: 0 50px 50px 30px;
}

.chat-dialog-box-right {
  font-family: "Noto Sans TC,sans-serif";
  font-weight: 400;
  font-size: 14px;
  line-height: 145%;
  padding: 8px 12px;
  background: #eeebfc;
  color: #000000;
  border-radius: 50px 0px 30px 50px;
}
.chat-time {
  font-size: 8px;
  color: #ffffff;
}

.mb-77 {
  margin-bottom: 77px;
}

.mb-372 {
  margin-bottom: 372px;
}
.mb-152 {
  margin-bottom: 152px;
}
.mb-114 {
  margin-bottom: 114px;
}
.close-percent {
  background: linear-gradient(90deg, #ff5ddc, #ba96ea);
  padding: 12px 16px;
  border-radius: 16px;
  font-size: 14px;
  font-weight: 700;
  .heart {
    width: 32px;
  }
}

.btn-talk {
  border: 1px solid $primary-100;
  padding-top: 4px;
  padding-bottom: 4px;
  &:hover,
  &:active,
  &:focus {
    border: 1px solid $primary-100;
  }
}

.btn-friend {
  background: linear-gradient(to right, #ff4edf, #542f99);
  padding-top: 4px;
  padding-bottom: 4px;
  &:hover,
  &:active,
  &:focus {
    border: none;
  }
}

.fs-10 {
  font-size: 10px;
}

.mb-18 {
  margin-bottom: 18px;
}
