.list-bg {
  background: url(/assets/images/07-Match-slide/2x/chatroom-list/allchatroom-bg@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.friend-list {
  img {
    width: 64px;
  }
}
